RewriteEngine On
Header add Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_URI}  !(\.png|\.PNG|\.webp|\.jpg|\.ico|\.gif|\.jpeg|\.zip|\.css|\.php|\.svg|\.js|\.woff2|\.woff|\.ttf|\.eot|\.map|\.json|\.mp4|\.pdf|\.gif)$
RewriteRule (.*) index.php [QSA,L]
RewriteRule ^(assets)($|/) - [L]
